/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#stm-popup {
    align-items: stretch;
    animation-fill-mode: forwards;
    background-color: white;
    background-image: url('assets/ff-logo.png');
    background-position: bottom 2em left 2em;
    background-repeat: no-repeat;
    background-size: 60px 19px;
    box-shadow: 0 0 2em gray;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    font: message-box;
    height: 310px;
    justify-content: center;
    left: 0;
    opacity: 0;
    padding: 2em 2em 4em;
    position: fixed;
    right: 0;
    top: -999px;
    transition: height 500ms;
    will-change: left, opacity;
    z-index: 9999999;
}

#stm-popup:not(.stm-drop-out) {
    animation-duration: 250ms;
    animation-name: stm-drop-in;
    animation-timing-function: ease-out;
}

#stm-popup.stm-drop-out {
   animation-duration: 500ms;
   animation-name: stm-drop-out; 
   animation-timing-function: ease-in;
}

#stm-inject {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    justify-content: center;
    position: relative;
    width: 100%;
}

.stm-done-animation {
    opacity: 0;
    transition: opacity 2s;
}

#stm-header {
    width: 100%;
    flex: 20px auto;
}

#stm-close {
    background: url('assets/icon-close.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    height: 40px;
    margin-top: -10;
    position: relative;
    transition: background-color 50ms;
    width: 40px;
    z-index: 10;
}

#stm-close:hover {
    background-color: #F0F0F0;;
}

#stm-feedback {
    background-color: #00C8D7;
    background-image: url('assets/feedback.svg');
    background-position: 4px 4px;
    background-repeat: no-repeat;
    background-size: 14px;
    border: 1px solid  #00C8D7;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    color: #fff;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 10px;
    line-height: 12px;
    padding: 4px 6px 4px 20px;
    position: absolute;
    bottom: 2em;
    right: 2em;
    z-index: 11;
    opacity: .7;
}

#stm-feedback:hover,
#stm-feedback:focus {
    background-color: #00b8c7;
}

#stm-feedback:active {
    background-color: #00b8c7;
}

#stm-animation-wrapper {
    background: transparent;
    height: 200px;
    position: relative;
    width: 400px;
}

.stm-start-animation {
    filter: grayscale(100%);
}

#stm-levels-wrapper {
    box-sizing: border-box;
    height: 310px;
    position: absolute;
    top: -52px;
    width: 100%;
    z-index: 2;
}

#stm-levels {
    display: block;
    height: 310px;
    margin: 0 auto;
    width: 720px;
}

#stm-box {
    background: none;
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 400px;
}

#stm-content {
    color: #737373;
    display: block;
    font-size: 22px;
    height: 24px;
    position: relative;
}

#stm-intro-text {
    color: #0C0C0D;
}

#stm-listening-text {
    opacity: .4;
    animation: fade-in 1000ms alternate infinite linear;
}

#stm-selection-wrapper {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-around;
}

#stm-list-wrapper {
    position: relative;
    flex: 1;
}

#stm-input {
    animation: pop forwards 300ms ease-in;
    background: #99FB85;
    border: none;
    box-sizing: border-box;
    color: #0C0C0D;
    display: block;
    font-size: 28px;
    height: 40px;
    opacity: 0;
    padding: 4px 8px;
    position: relative;
    transition: background 75ms, box-shadow 75ms;
}

#stm-input:focus {
    background: #f9f9fa;
    box-shadow: 0 -2px 0 #99FB85 inset;
}
 

#stm-list {
    animation: scale 150ms forwards ease-in-out;
    animation-delay: 450ms;
    background: #fff;
    border-radius: 1px;
    border: 1px solid #f2f2fa;
    border-top: 0;
    box-sizing: border-box;
    color: #737373;
    display: block;
    font-size: 16px;
    line-height: 16px;
    opacity: 0;
    position: absolute;
    transform-origin: top;
    transform: scaleY(0);
}

.stm-list-inner {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 5px;
    width: 100%;
}

.stm-list-inner li {
    cursor: pointer;
    opacity: .8;
    padding: 5px 2px;
    transition: background 50ms, opacity 50ms;
}

.stm-list-inner li:hover,
.stm-list-inner li:focus {
    background: #f2f2fa;
    opacity: 1;
}

#stm-reset-button {
    animation: pop forwards 300ms ease-in;
    animation-delay: 150ms;
    background-color: transparent;
    background-image: url('assets/icon-redo.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    border-radius: 50%;
    border: 1px solid #F0F0F0;
    border: none;
    cursor: pointer;
    height: 40px;
    margin: 0 40px;
    opacity: 0;
    transition: background-color 50ms;
    width: 40px;
}

#stm-reset-button:hover {
    background-color: #f0f0f0;
}

#stm-reset-button:hover {
    background-color: #eaeaea;
}

#stm-submit-button {
    animation: pop forwards 300ms ease-in;
    animation-delay: 300ms;
    background-color: #00C8D7;
    background-image: url('assets/icon-done.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 32px 28px;
    border-radius: 50%;
    border: none;
    box-shadow: transparent;
    cursor: pointer;
    height: 64px;
    opacity: 0;
    top: -12px;
    transition: background-color 50ms, opacity 50ms, box-shadow 100ms;
    width: 64px;
}

.stm-icon {
    background-color: #00C8D7;
    background-image: url('assets/icon-mic.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    border-radius: 50%;
    border: none;
    box-shadow: transparent;
    box-sizing: border-box;
    cursor: pointer;
    height: 64px;
    position: absolute;
    right: -72px;
    top: -9px;
    transition: background-color 50ms, opacity 50ms, box-shadow 100ms;
    width: 64px;
    z-index: 9999999;
}

.stm-icon:not(.stm-hidden) {
    opacity: 0;
    animation: pop 300ms forwards ease-out;
}

.stm-icon.stm-hidden {
    opacity: .1;
}


.stm-icon:hover,
.stm-icon:focus,
#stm-submit-button:hover,
#stm-submit-button:focus {
    background-color: #00b8c7;
}

.stm-icon:active,
#stm-submit-button:active {
    background-color: #00a8b7;
    box-shadow: 0 0 0 2px #00a8b7;
}


@keyframes fade-in {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

@keyframes stm-drop-in {
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes stm-drop-out {
    0% {
        opacity: 1;
        top: 0;
    }
    100% {
        opacity: 0;
        top: -999px;
    }
}

@keyframes pop {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    66% {
        opacity: 1;
        transform: scale(1.04);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes scale {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}
