extension/js/vendor/
extension/popup/popupController.js
extension/popup/popupView.js
extension/options/optionsController.js
extension/options/optionsView.js
extension/options/routinesView.js
extension/onboarding/onboardingController.js
extension/onboarding/onboardingView.js
extension/wakeword/wakewordController.js
extension/wakeword/wakewordView.js
