*.swp
*.tgz
*~
!extension/js/vendor/fuse.min.js
extension/js/vendor/
extension/css/vendor/
extension/views/CHANGELOG.html
extension/views/lexicon.html
extension/views/privacy-policy.html
extension/buildSettings.js
extension/popup/popupController.js
extension/popup/popupView.js
extension/popup/*.js.map
extension/options/optionsController.js
extension/options/optionsView.js
extension/options/*.js.map
node_modules
npm-debug.log
package-lock.json
web-ext-artifacts
.DS_Store
credentials
/Profile*
manifest.json
/addon.xpi
/gh-pages
