*.swp
*.tgz
*~
!extension/js/vendor/fuse.min.js
extension/js/vendor/
extension/css/vendor/
extension/views/CHANGELOG.html
extension/views/lexicon.html
extension/buildSettings.js
extension/popup/popup.js
node_modules
npm-debug.log
package-lock.json
web-ext-artifacts
.DS_Store
credentials
/Profile*
manifest.json
/addon.xpi
