*.swp
*.tgz
*~
!extension/js/vendor/fuse.min.js
extension/js/vendor/
extension/css/vendor/
extension/views/CHANGELOG.html
extension/views/lexicon.html
extension/views/privacy-policy.html
extension/buildSettings.js
extension/popup/popupController.js
extension/popup/popupView.js
extension/options/optionsController.js
extension/options/optionsView.js
extension/options/routinesView.js
extension/onboarding/onboardingController.js
extension/onboarding/onboardingView.js
extension/wakeword/wakewordController.js
extension/wakeword/wakewordView.js
extension/**/*.js.map
extension/background/serviceImport.js
extension/background/intentImport.js
extension/intents/metadata.js
extension/services/metadata.js
extension/background/language/langs/*.js
node_modules
npm-debug.log
package-lock.json
web-ext-artifacts
.DS_Store
credentials
/Profile*
manifest.json
/addon.xpi
/gh-pages
Thumbs.db
