{
  "extends": "stylelint-config-standard",
  "ignoreFiles": "extension/css/vendor/*.css",
  "rules": {
    "font-family-no-missing-generic-family-keyword": null,
    "no-descending-specificity": null,
    "declaration-colon-newline-after": null
  }
}
