.example {
  margin-bottom: 40px;
}

.intent {
  font-size: 36px;
  font-weight: 600;
  color: #20123a;
  letter-spacing: -1.5px;
}

.description {
  font-size: 16px;
  color: #20123a;
  letter-spacing: -0.87px;
  padding-bottom: 10px;
  letter-spacing: 0px;
}

.utterance {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  background-color: #ededf0;
  border-left: solid 6px #8e31bd;
  padding: 20px;
}

.utterance p {
  font-style: italic;
  font-size: 28px;
  color: #20123a;
  letter-spacing: -1.17px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 400;
}

.utterance .small {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
}
