@use '../css/vendor/protocol/protocol';
@use '../css/vendor/protocol/protocol-extra' with (
  $image-path: './images'
);

@import url("../assets/css/inter.css");

.draft-banner {
  background-color: #c50042;
  color: #fff;
  max-width: 100%;
  border-bottom: 1px solid #cecece;
  .draft-details {
    margin-left: 1em;
  }
}

.mzp-c-navigation-items {
  float: right;
}

.mzp-c-navigation-logo a {
  background-image: url("./images/fx-voice-logo.svg");
  background-size: 254px, 44px;
  height: 44px;
  width: 254px;
}

.common-voice-welcome {
  display: flex;
  text-align: left;
}

.robot-profile {
  height: 40px;
  margin-right: 1rem;
}

.mzp-c-menu-title {
  font-weight: normal !important;
}

.mzp-c-hero {
  padding-bottom: 0px;
}

// .mzp-c-hero-body {
//   max-width: 60%;
// }

.mzp-l-core {
  max-width: 80%;
}

.mzp-l-flexcards {
  display: flex;
  justify-content: center;
}

.mzp-c-button.mzp-t-product.install-cta {
  margin-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1.25rem;
}

.mzp-c-availability {
  @include protocol.text-body-sm;
  text-align: center;
  font-style: italic;
}

.things-you-can-do {
  margin-bottom: 2rem;
}

.action-logo {
  margin-bottom: 1.5rem;
}

.category-label {
  @include protocol.text-display-xs;
  font-weight: bold;
}

.example-utterance-wrapper {
  ul {
    li {
      margin-top: 1rem;
    }
  }
}

.see-all-actions {
  @include protocol.text-display-xs;
  font-weight: normal;
  :visited {
    color: #fff;
  }
  a {
    color: #fff !important;
  }

}

.box-purple {
  background: linear-gradient(-180deg, #5731ab 0%, #321c64 100%);
  color: #fff;
  text-align: center;
}

.common-voice-robot {
  width: 100%;
}

[class*="mzp-has-zap"] strong::after {
  top: calc(100% + 0.15em);
}

.card-header {
  margin-bottom: 2.5rem;
}

.watch-video {
  font-weight: bold;
  a {
    text-decoration: none;
  }
}

.video-wrapper {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  iframe {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
  }
}

.faq-section-header {
  @include protocol.text-display-xs;
  font-weight: bold;
}

.faq {
  margin-bottom: 4rem;
  details {
    summary {
      height: 70px;
      border-top: 1px solid #b1b1b3;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      cursor: pointer;
    }
    ol, ul {
      list-style-type: revert;
      padding-left: 2rem;
      li {
        padding-left: 1rem;
      }
    }
  }
  :first-child {
    summary {
      border: none;
    }
  }
  :last-child {
    summary {
      border-bottom: 1px solid #b1b1b3;
    }
  }
  details[open] {
    summary {
      border-bottom: none;
    }
  }
}

// .faq > details[open] > summary {
//   border: none;
// }

.faq-title {
  text-align: center;
  margin-bottom: 3rem;
  strong::after {
    height: 100%;
    background-size: 100%;
    top: calc(100% + 0.25em);
  }
}

.action-categories {
  display: flex;
  justify-content: space-around;
  .action-category {
    width: 30%;
  }
}

.mzp-c-footer-primary-logo a {
  background: url("./images/mozilla-logo.svg");
  width: 112px;
}

.mzp-c-footer-primary {
  display: flex;
  justify-content: space-between;
}

.mzp-c-footer-items {
  display: flex;
}
.mzp-c-footer-item {
  margin-left: 3rem;
}

.mzp-c-footer-primary::after {
  content: unset;
  display: unset;
}