@use '../css/vendor/protocol/protocol';
@use '../css/vendor/protocol/protocol-extra' with (
  $image-path: './images'
);



.mzp-c-availability {
  @include protocol.text-body-xs;
  text-align: center;
  font-weight: italic;
}

.category-label {
  @include protocol.text-display-xs;
}

.see-all-actions {
  @include protocol.text-display-xs;
  font-weight: normal;
}