@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body,
.cls-1 {
  font-family: "Inter" !important;
}

.listening #voice-input {
  display: block;
}

.listening :-moz-any(#transcript, #popup-settings, #back-icon) {
  display: none;
}

.listening #text-input > :not(span) {
  display: none;
}

.processing :-moz-any(#suggestions, #feedback, #popup-settings, #back-icon) {
  display: none;
}

.processing #transcript {
  display: block;
}

.typing :-moz-any(#text-input, #back-icon) {
  display: block;
}

.typing #text-input > :not(span) {
  display: block !important;
}

.typing #voice-input {
  display: none;
}

:-moz-any(.success, .error)
  :-moz-any(#suggestions, #feedback, #popup-settings) {
  display: none;
}

.settings :-moz-any(#popup-settings, #back-icon) {
  display: block;
}

.settings #popup-content {
  display: none;
}

.settings #settings-icon {
  visibility: hidden;
}

#popup {
  min-height: 200px;
  width: 350px;
  padding: 1rem;
}

#zap-wrapper {
  max-width: 350px;
}

#popup-header,
#popup-footer {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

#header-title {
  font-size: 1.125rrem;
  letter-spacing: 0.05rem;
  font-weight: 700;
}

#popup-footer {
  align-items: flex-end;
}

#ff-monitor-icon {
  max-height: 60px;
}

#suggestions {
  padding: 1.2rem 0rem;
}

.suggestion {
  font-weight: 600;
  line-height: 1rem;
  font-style: italic;
}

#feedback {
  color: #737373;
}

#moz-voice-privacy {
  margin-top: 1.2em;
}

#moz-voice-privacy > a {
  color: #0a84ff;
  font-weight: 400;
}

#feedback-prompt {
  margin-bottom: 0.75rem;
}

#most-recent-query {
  font-weight: 600;
  font-style: italic;
}

#voice-input {
  text-align: center;
}

#transcript {
  font-weight: 600;
  font-style: italic;
  font-size: 2rem;
  padding: 1.5rem 0rem;
}

#text-input-field {
  font-size: 20px;
  caret-color: transparent;
}

#text-input-field:focus {
  outline: transparent !important;
}

.typing #text-input-field {
  background: #fff;
  border-radius: 6px;
  border: 2px solid rgb(215, 215, 219);
  height: 1.2em;
  padding: 0.5em;
  text-align: left;
  width: 40vw;
  margin-top: 0.7em;
  caret-color: #000 !important;
}

#send-text-input {
  padding: 0.5rem 1rem;
  border: none;
  font-weight: 700;
  width: 64px;
  background: rgb(18, 188, 0);
  border-radius: 4px;
  color: #fff;
}

#send-btn-wrapper {
  display: none;
  text-align: center;
  margin-top: 1em;
}

#popup-settings {
  margin-top: 2em;
}

.settings-controls {
  display: inline-block;
  margin-right: 2em;
}

#settings-about {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #0c0c0d10;
}

#settings-about-label {
  color: #737373;
  font-size: 0.8em;
  font-weight: 500;
}

.about-item {
  margin: 0.6em 0em;
}

.about-item > span {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: -0.1px;
}

.expand-arrow {
  float: right;
  max-height: 0.8em;
}

.expand-arrow > path {
  fill: #b3b3b3;
}
