@import url("../assets/css/inter.css");
@import url("../assets/css/gui.css");

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body,
.cls-1 {
  font-family: "Inter" !important;
}

.hidden {
  visibility: hidden;
}

#popup-container {
  min-width: 350px;
  width: 350px;
}

.timer #zap-wrapper,
.typing #zap-wrapper,
.feedback #zap-wrapper,
.searchResults #zap-wrapper {
  display: none;
}

#zap-wrapper {
  display: flex;
  flex-direction: column;
}

#zap-wrapper #zap {
  width: 350px;
  align-self: center;
}

#popup-header,
#popup-footer {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

#popup-header {
  padding: 0.5rem 0.5rem 0;
}

.feedback #popup-header {
  align-items: first baseline;
}

#popup-footer {
  padding: 0 0.5rem 0.5rem;
}

#popup-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

#popup:not(.searchResults) #popup-content {
  padding-bottom: 0;
}

#settings-icon,
#left-icon,
#close-icon {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

#settings-icon:hover svg path,
#left-icon:hover svg path,
#close-icon:hover svg path {
  fill: #555555;
}

#header-title {
  font-size: 1.125rem;
  letter-spacing: 0.05rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#popup-footer {
  align-items: flex-end;
}

#ff-monitor-icon {
  max-height: 60px;
}

#prompt {
  margin-top: 0;
}

.suggestion {
  font-weight: 600;
  line-height: 1rem;
  font-style: italic;
}

#feedback {
  color: #737373;
  display: none;
}

#moz-voice-privacy {
  line-height: 20px;
  margin-right: 32px;
}

#moz-voice-privacy > a {
  font-weight: 400;
  font-size: 0.85em;
}

#feedback-prompt {
  margin-bottom: 0.75rem;
}

#most-recent-query {
  font-weight: 600;
  font-style: italic;
}

#text-input,
#error-message {
  margin: 40px 0;
}

/* This prevents the text input from taking up space when it isn't visible */
#popup.listening #text-input {
  opacity: 0;
  margin: 0;
  height: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}

#popup.listening #extra-content {
  max-height: 0;
  opacity: 0;
  transform: scaleY(0);
  transition: max-height 0.3s ease-in, opacity 0.3s ease-in 0.3s,
    transform 0.1s ease-in;
}

#popup.listening #extra-content.expanded {
  max-height: 300px;
  opacity: 1;
  transform: scaleY(1);
}

#search-results {
  align-self: center;
  padding: 1em 0 6em;
}

.results-set {
  min-height: 100px;
  padding-top: 25px;
  font-weight: bold;
}

.results-image {
  width: 100px;
  height: auto;
  padding-bottom: 35px;
}

.results-largeText {
  font-size: 72px;
  padding-bottom: 35px;
}

.results-text {
  font-size: 1.5em;
}

#voice-input,
#text-input,
#search-results,
#error-message,
#error-autoplay,
#transcript,
#text-display {
  text-align: center;
  word-wrap: break-word;
}

#transcript {
  font-weight: 600;
  font-style: italic;
  font-size: 2rem;
  margin: 0 0 1em 0;
}

#error-message {
  font-weight: 600;
  padding: 1.5rem 0;
  color: #800;
  white-space: pre-wrap;
}

.typing #text-input-field {
  width: 85vw;
  height: 3.7em;
}

#send-btn-wrapper {
  text-align: center;
  margin-top: 1em;
}

#popup-settings {
  margin-top: 2em;
}

.settings-controls {
  display: inline-block;
  margin-right: 2em;
}

#settings-about {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #0c0c0d10;
}

#settings-about-label {
  color: #737373;
  font-size: 0.8em;
  font-weight: 500;
}

.about-item {
  margin: 0.6em 0;
}

.about-item > span {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: -0.1px;
}

.expand-arrow {
  float: right;
  max-height: 0.8em;
}

.expand-arrow > path {
  fill: #b3b3b3;
}

a#lexicon {
  font-weight: 400;
  font-size: 0.85em;
  margin-bottom: 2em;
  display: block;
}

#search-footer {
  color: white;
  background-color: black;
  padding: 0.5em;
  margin: 2rem -1rem -1rem;
  text-align: center;
  position: fixed;
  bottom: 1em;
  width: 100%;
}

#search-footer p {
  margin: 0 0.5em;
}

#search-show-next {
  font-size: 0.8em;
  padding-top: 0.5em;
  color: white;
}

#search-show-next:hover {
  color: white;
}

#search-image {
  cursor: pointer;
}

.invisible-button {
  border: none;
  border-radius: 0;
  color: inherit;
  padding: 0;
  background-color: inherit;
}

#intent-feedback {
  color: white;
  background-color: black;
  letter-spacing: -0.58px;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
}

.feedback-controls {
  text-align: center;
}

.feedback-controls button {
  border: none;
  margin: 5px 10px;
  background-color: white;
  width: 24px;
  height: 24px;
}

.feedback-controls .happy-icon {
  mask: url("./images/icon-happy.svg");
  cursor: pointer;
}

.feedback-controls .sad-icon {
  mask: url("./images/icon-sad.svg");
  cursor: pointer;
}

.feedback-controls .happy-icon:hover {
  mask: url("./images/icon-happy-hover.svg");
}

.feedback-controls .sad-icon:hover {
  mask: url("./images/icon-sad-hover.svg");
}

#next-result {
  margin: 0 0.5em;
  padding: 0.5em 0 0;
  border-top: 1px solid #ededf0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feedback #header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.feedback #header-title p {
  margin: 0;
}

#header-title .utterance {
  font-style: italic;
}

#feedback-whats-wrong {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feedback-whats-wrong .feedback-form {
  display: flex;
  flex-direction: column;
}

#feedback-whats-wrong .sad-icon {
  background-image: url("./images/icon-sad.svg");
  background-color: transparent;
  background-size: 45px 45px;
  border: none;
  width: 45px;
  height: 45px;
  margin: 1em 0;
}

.feedback-form h1 {
  font-size: 24px;
  letter-spacing: -1px;
  font-style: italic;
}

.feedback-form textarea {
  width: 85vw;
  height: 5em;
  resize: vertical;
}

.feedback-form .styled-green-button {
  margin: 2em 0;
}

.feedback-form > * {
  text-align: center;
}

.feedback-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.feedback-thanks {
  text-align: center;
}

.circle-timer {
  width: 185px;
  height: 180px;
  background: white;
  border-radius: 150px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-size: 40px;
  display: flex;
}

.circle-timer:before {
  border-radius: 100%;
  content: "";
  background-image: linear-gradient(#6173ff, #f10366, #ff9100);
  padding: 7px;
  width: 185px;
  height: 180px;
  top: -7px;
  left: -7px;
  position: absolute;
  z-index: -1;
}

.timer-card {
  align-self: center;
  padding: 1em 0;
  min-height: 200px;
  padding-top: 25px;
  font-weight: bold;
}

.timer-clock {
  text-align: center;
  margin: auto;
  font-weight: bold;
}

.timer-notification-text {
  text-align: center;
  margin: auto;
  font-weight: bold;
  font-size: 18px;
}

.circle-timer-footer {
  left: 10px;
  width: 40px;
  height: 40px;
  background: rgb(119, 118, 118);
  border-radius: 150px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-size: 13px;
  color: white;
  display: flex;
  bottom: 5px;
}

.circle-timer-footer:before {
  border-radius: 100%;
  content: "";
  background-color: white;
  padding: 3px;
  width: 40px;
  height: 40px;
  top: -3px;
  left: -3px;
  position: absolute;
  z-index: -1;
}

.timer-footer {
  padding: 0.5em 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: black;
  margin-bottom: -8px;
  margin-left: -8px;
  margin-right: -8px;
  position: relative;
  z-index: -2;
  padding-top: 12px;
  display: flex;
}

.timer-clock-footer {
  text-align: left;
  margin: auto;
  font-weight: bold;
  color: white;
  position: relative;
  bottom: 7px;
  flex: 1;
  left: 10px;
}

.timer-text {
  font-weight: bold;
  font-size: 14px;
  position: relative;
  left: 30px;
  color: white;
  bottom: 7px;
  flex: 4;
}
