@import url("../assets/css/inter.css");
@import url("../assets/css/gui.css");

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body,
.cls-1 {
  font-family: "Inter" !important;
}

.hidden {
  visibility: hidden;
}

#popup-container {
  min-width: 350px;
  width: 350px;
}

#zap-wrapper {
  display: flex;
  flex-direction: column;
}

#zap-wrapper #zap {
  width: 350px;
  align-self: center;
}

#popup-header,
#popup-footer {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

#popup-header {
  padding: 0.5rem;
}

#popup-footer {
  padding: 2rem 0.5rem 0.5rem;
}

#popup-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

#popup:not(.searchResults) #popup-content {
  padding-bottom: 0;
}

#settings-icon,
#left-icon,
#close-icon {
  border: none;
  background-color: transparent;
}

#settings-icon:hover svg path,
#left-icon:hover svg path,
#close-icon:hover svg path {
  fill: #555555;
}

#header-title {
  font-size: 1.125rem;
  letter-spacing: 0.05rem;
  font-weight: 700;
}

#popup-footer {
  align-items: flex-end;
}

#ff-monitor-icon {
  max-height: 60px;
}

.suggestion {
  font-weight: 600;
  line-height: 1rem;
  font-style: italic;
}

#feedback {
  color: #737373;
  display: none;
}

#moz-voice-privacy {
  line-height: 20px;
}

#moz-voice-privacy > a {
  font-weight: 400;
  font-size: 0.85em;
}

#feedback-prompt {
  margin-bottom: 0.75rem;
}

#most-recent-query {
  font-weight: 600;
  font-style: italic;
}

#text-input,
#error-message {
  margin: 40px 0;
}

/* This prevents the text input from taking up space when it isn't visible */
#popup.listening #text-input {
  opacity: 0;
  margin: 0;
  height: 0;
}

#search-results {
  align-self: center;
}

#voice-input,
#text-input,
#search-results,
#error-message,
#error-autoplay,
#transcript,
#text-display {
  text-align: center;
}

#transcript {
  font-weight: 600;
  font-style: italic;
  font-size: 2rem;
}

#error-message {
  font-weight: 600;
  padding: 1.5rem 0;
  color: #800;
}

#text-input-field {
  font-size: 20px;
  caret-color: transparent;
}

#text-input-field:focus {
  outline: transparent !important;
}

.typing #text-input-field {
  background: #fff;
  border-radius: 6px;
  border: 2px solid rgb(215, 215, 219);
  height: 1.2em;
  padding: 0.5em;
  text-align: left;
  width: 40vw;
  margin-top: 0.7em;
  caret-color: #000 !important;
}

#send-text-input {
  padding: 0.5rem 1rem;
  border: none;
  font-weight: 700;
  width: 64px;
  background: rgb(18, 188, 0);
  border-radius: 4px;
  color: #fff;
}

#send-btn-wrapper {
  text-align: center;
  margin-top: 1em;
}

#popup-settings {
  margin-top: 2em;
}

.settings-controls {
  display: inline-block;
  margin-right: 2em;
}

#settings-about {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #0c0c0d10;
}

#settings-about-label {
  color: #737373;
  font-size: 0.8em;
  font-weight: 500;
}

.about-item {
  margin: 0.6em 0;
}

.about-item > span {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: -0.1px;
}

.expand-arrow {
  float: right;
  max-height: 0.8em;
}

.expand-arrow > path {
  fill: #b3b3b3;
}

.sep {
  /* border-left: 1px solid #0c0c0d10; */
}

a#lexicon {
  font-weight: 400;
  font-size: 0.85em;
}

#search-show-next {
  color: white;
  background-color: black;
  padding: 0.5em;
  margin: 2rem -1rem -1rem;
  text-align: center;
  position: fixed;
  bottom: 1em;
  width: 100%;
}

#search-show-next p {
  margin: 0 0.5em;
}

#search-show-next-description {
  font-size: 0.8em;
  padding-top: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search-image {
  cursor: pointer;
}

#intent-feedback {
  margin: 2em 0 0;
  padding-top: 1em;
  border-top: 1px solid #ededf0;
  border-bottom: 1px solid #ededf0;
  color: #737373;
  font-size: 14px;
  letter-spacing: -0.58px;
  text-align: center;
}

.feedback-utterance {
  font-weight: bold;
}

.feedback-controls {
  text-align: center;
}

.feedback-controls button {
  border: none;
  font-size: 150%;
  margin: 5px;
  background-color: transparent;
}

.feedback-controls button:hover svg path {
  fill: #0a6dcf;
}

.feedback-form h1 {
  text-align: center;
}

.feedback-form textarea {
  width: 100%;
  height: 3em;
  resize: vertical;
}

.feedback-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.feedback-form button {
  color: #fff;
  background-color: #393;
  font-size: 120%;
}
