@import url("./inter.css");

.styled-button {
  background-color: #0060df;
  color: white;
  border-radius: 8px;
  border-style: none;
  height: 64px;
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.22px;
  text-align: center;
  padding: 0 135px;
  cursor: pointer;
}

.styled-button:hover,
.styled-button:active {
  background-color: #003eaa;
}

.styled-button > svg {
  display: inline;
  margin-right: 20px;
}

.styled-button > svg path {
  fill: white;
}

.styled-green-button {
  padding: 0.5rem 1rem;
  border: none;
  font-weight: 700;
  background: rgb(18, 188, 0);
  border-radius: 4px;
  color: #fff;
}

.styled-green-button:hover,
.styled-green-button:active {
  background-color: rgb(18, 140, 0);
}

/*
Styled Checkbox
Example markup to use this styled native checkbox
<div className="styled-checkbox">
    <input id="myCheckbox" type="checkbox"/>
    <label for="myCheckbox">My Checkbox Label</label>
</div>
*/

.styled-checkbox {
  position: relative;
}

.styled-checkbox label,
.styled-toggleswitch label {
  padding-left: 40px;
  line-height: 1.875rem;
  display: block;
  cursor: pointer;
}

.styled-checkbox label:before {
  content: " ";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: 0;
  background: white;
  border-radius: 3px;
  border: 2px solid #ccc;
}

.styled-checkbox label:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 7px;
  top: 7px;
  left: 6px;
  background: transparent;
  border: 3px solid #0361d5;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.styled-checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.styled-checkbox input[type="checkbox"] {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
}

.styled-checkbox.disabled {
  opacity: 0.5;
}

.styled-input,
.styled-textarea {
  font-family: "Inter" !important;
  background: #fff;
  border-radius: 6px;
  border: 2px solid rgb(215, 215, 219);
  padding: 0.5em;
  font-size: 20px;
}

.styled-input {
  height: 1.2em;
  text-align: left;
  caret-color: #000 !important;
}

.styled-input:focus,
.styled-textarea:focus {
  outline: transparent !important;
  border: 2px solid #0a84ff;
}

a {
  color: #0a84ff;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active {
  color: #0a6dcf;
  text-decoration: underline;
}

strong {
  font-weight: 600;
}

.styled-toggleswitch input[type="checkbox"] {
  height: 0;
  width: 0;
  position: absolute;
}

input[type="checkbox"].toggle-button {
  --button-height: 16px;
  --button-half-height: 8px;
  --button-width: 26px;
  --button-border-width: 1px;
  --dot-size: 10px;
  --dot-margin: 2px;
  --dot-transform-x: 10px;
  --border-color: #181a1b24;
}

input[type="checkbox"].toggle-button {
  -moz-appearance: none;
  padding: 0;
  margin-top: 7px;
  outline: 0;
  border: var(--button-border-width) solid var(--border-color);
  height: var(--button-height);
  width: var(--button-width);
  border-radius: var(--button-half-height);
  background: rgba(12, 12, 13, 0.1);
  box-sizing: border-box;
}

input[type="checkbox"].toggle-button:hover {
  background: rgba(12, 12, 13, 0.2);
  border-color: var(--border-color);
}

input[type="checkbox"]:checked {
  background: #0060df;
  -moz-context-properties: fill;
  fill: #2292d0;
}

input[type="checkbox"].toggle-button:checked:hover {
  background: #003eaa;
  border-color: #002275;
}

input[type="checkbox"].toggle-button::before {
  display: block;
  content: "";
  background: #fff;
  height: var(--dot-size);
  width: var(--dot-size);
  margin: var(--dot-margin);
  border-radius: 50%;
  outline: 1px solid var(--border-color);
  -moz-outline-radius: 50%;
  transition: transform 100ms;
}

input[type="checkbox"].toggle-button:checked::before {
  transform: translateX(var(--dot-transform-x));
}
