@import url("./inter.css");

.styled-button {
  background-color: #0060df;
  color: white;
  border-radius: 8px;
  border-style: none;
  height: 64px;
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.22px;
  text-align: center;
  padding: 0 135px;
  cursor: pointer;
}

.styled-button:hover,
.styled-button:active {
  background-color: #003eaa;
}

.styled-button > svg {
  display: inline;
  margin-right: 20px;
}

.styled-button > svg path {
  fill: white;
}

.styled-green-button {
  padding: 0.5rem 1rem;
  border: none;
  font-weight: 700;
  background: rgb(18, 188, 0);
  border-radius: 4px;
  color: #fff;
}

.styled-green-button:hover,
.styled-green-button:active {
  background-color: rgb(18, 140, 0);
}

/*
Styled Checkbox
Example markup to use this styled native checkbox
<div className="styled-checkbox">
    <input id="myCheckbox" type="checkbox"/>
    <label for="myCheckbox">My Checkbox Label</label>
</div>
*/

.styled-checkbox {
  position: relative;
}

.styled-checkbox label {
  padding-left: 40px;
  line-height: 1.875rem;
  display: block;
  cursor: pointer;
}

.styled-checkbox label:before {
  content: " ";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: 0;
  background: white;
  border-radius: 3px;
  border: 2px solid #ccc;
}

.styled-checkbox label:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 7px;
  top: 7px;
  left: 6px;
  background: transparent;
  border: 3px solid #0361d5;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.styled-checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.styled-checkbox input[type="checkbox"] {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
}

.styled-input,
.styled-textarea {
  font-family: "Inter" !important;
  background: #fff;
  border-radius: 6px;
  border: 2px solid rgb(215, 215, 219);
  padding: 0.5em;
  font-size: 20px;
}

.styled-input {
  height: 1.2em;
  text-align: left;
  caret-color: #000 !important;
}

.styled-input:focus,
.styled-textarea:focus {
  outline: transparent !important;
  border: 2px solid #0a84ff;
}

a {
  color: #0a84ff;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active {
  color: #0a6dcf;
  text-decoration: underline;
}

strong {
  font-weight: 600;
}
