body {
  font-family: "Inter" !important;
  padding: 40px 20px;
  color: #20123a;
}

#page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#page-header #link-menu ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
}

#page-header #link-menu ul li {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 26px;
}

#page-header #link-menu ul li a {
  color: #20123a;
}

#page-header #link-menu ul li a:hover,
#page-header #link-menu ul li a:active {
  color: #952bb9;
  font-weight: bold;
}

#page-header #install-btn {
  padding: 0 45px;
}

#contents {
  display: flex;
}

#sidebar .stmt {
  color: #8e31bd;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -2px;
  width: 85%;
}

#sidebar {
  width: 33%;
  color: #8e31bd;
  line-height: 52px;
}

#sidebar .big-list {
  width: 200%;
  margin-bottom: 10px;
}

#list {
  width: 66%;
}

#clear {
  clear: both;
}

.privacy-logo-stacked {
  display: none;
}

#list h3 {
  margin-bottom: -10px;
  padding-bottom: -10px;
}

@media only screen and (max-width: 1000px) {
  #page-header #install-btn {
    padding: 0 15px;
  }
  #sidebar {
    width: 40%;
    margin-bottom: 30px;
  }

  #list {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  #page-header #home-icon img {
    max-width: 100%;
  }

  .privacy-logo-stacked {
    display: block;
  }

  .privacy-logo {
    display: none;
  }

  #contents {
    flex-direction: column;
  }

  #page-header #link-menu ul {
    flex-direction: column;
    align-items: center;
  }

  #page-header #link-menu ul li {
    margin-bottom: 15px;
  }
}

footer {
  padding-top: 1rem;
}
