<header id="page-header">
    <div id="home-icon">
        <img src="/assets/images/firefox-voice-logo.svg" alt="Firefox Voice Logo" />
    </div>
    <div id="link-menu">
        <ul>
            <li>
                <a href="/views/lexicon.html" target="_blank" rel="noopener">
                    Things you can say
                </a>
            </li>
            <li>
                <a href="/views/privacy-policy.html" target="_blank" rel="noopener">
                    Privacy
                </a>
            </li>
            <li>
                <button id="install-btn" class="styled-button">Install Now</button>
            </li>
        </ul>
    </div>
</header>