<header id="page-header">
    <div id="home-icon">
        <a href="https://voice.mozilla.org/firefox-voice/" target="_blank" rel="noopener">
            <img src="/assets/images/firefox-voice-logo.svg" alt="Firefox Voice Logo" class="privacy-logo" />
        </a>
        <a href="https://voice.mozilla.org/firefox-voice/" target="_blank" rel="noopener">
            <img src="/options/images/firefox-voice-stacked.svg" alt="Firefox Voice Logo" class="privacy-logo-stacked">
        </a>
    </div>
    <div id="link-menu">
        <ul>
            <li>
                <a href="/views/lexicon.html" target="_blank" rel="noopener">
                    Lexicon
                </a>
            </li>
            <li>
                <a href="/views/privacy-policy.html" target="_blank" rel="noopener">
                    Privacy
                </a>
            </li>
            <li>
                <button id="install-btn" class="styled-button">Install Now</button>
            </li>
        </ul>
    </div>
</header>