@import url("../options/options.css"); /* temp hack to get some of the options page styling in */

.collect-example-button {
  background: none;
  border: 2px solid crimson;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.collect-example-button.active {
  background: crimson;
}

.recording-inner-circle {
  width: 0.5em;
  background: crimson;
  height: 0.5em;
  border-radius: 50%;
}

.collect-example-button.active > .recording-inner-circle {
  background: #fff;
}

.training-class {
  padding-right: 5em;
}

.record {
  padding-right: 3em;
}

table {
  border-collapse: collapse;
  border-style: hidden;
}

tr {
  border-bottom: 1px solid #ccc;
}

.styled-input.wakeword {
  width: 3em !important;
}

.training-container {
  margin-bottom: 1em;
}
