<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Firefox Voice Changes and Updates</title>
    <link rel="stylesheet" href="/options/options.css" />
  </head>
  <body>
    <h1>Firefox Voice Changes</h1>

    <!-- Generated from CHANGELOG.md: -->
    <%- content %>
    <!-- End generated content -->

    <footer>
      For more information on Firefox Voice see our
      <a href="https://github.com/mozilla/firefox-voice">GitHub repository</a>.
    </footer>
  </body>
</html>
