<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Firefox Voice Lexicon</title>
    <link rel="stylesheet" href="../assets/css/inter.css" />
    <link rel="stylesheet" href="../assets/css/gui.css" />
    <link rel="stylesheet" href="../assets/css/layout.css" />
    <link rel="stylesheet" href="./lexicon.css" />
  </head>
  <body>
    <%- include('partials/pageHeader') %>
    <div id="contents">
      <div id="sidebar">
        <div class="stmt">The big list of what you can say.</div>
      </div>
      <div id="list">
        <div class="example">
          <div class="intent">
            Search the web
          </div>
          <div class="description">
            Returns results from the default search engine.
          </div>
          <div class="utterance">
            Example
            <p>Search for hiking in Denver</p>
            <p>Look up recipes for fish tacos</p>
            <div class="small">
              <strong>Tip:</strong> Cycle through results by saying
              <em>'next result'</em> or <em>'previous result'</em>.
            </div>
          </div>
        </div>
        <div class="example">
          <div class="intent">
            Search a specific website
          </div>
          <div class="description">
            Returns results from search feature on a specific website.
          </div>
          <div class="utterance">
            Example
            <p>Search my Gmail for tickets to Hamilton</p>
            <p>Look up The Book Thief on GoodReads</p>
            <p>Search CSS grid on MDN</p>
            <div class="small">
              <strong>Supported sites:</strong> Gmail, Google Docs, Google
              Calendar, Google Slides, Google Maps, MDN, GoodReads, Spotify,
              Amazon, Wikipedia, Yelp, Twitter, GitHub, Reddit, Amazon Music, Google
              Play Music, Pandora, SoundCloud, YouTube, Vimeo, Netflix, StubHub,
              TicketMaster, Instagram, LinkedIn, Quora, Pinterest, Facebook,
              Stack Exchange, Dictionary, Thesaurus, DuckDuckGo, Amazon Maps,
              DuckDuckGo Images, Google Drive, Google Images, Google Scholar,
              Google Sheets, Google Translate, OpenStreetMap, TuneIn.
            </div>
          </div>
        </div>

        <div class="example">
          <div class="intent">
            Go to website / webpage
          </div>
          <div class="description">
            Opens new tab with requested website or a specific web page based on
            the top search result.
          </div>
          <div class="utterance">
            Example
            <p>Go to the New York Times</p>
            <p>Show me the 49ers schedule</p>
            <p>Go to the Health section of the BBC</p>
          </div>
        </div>
        <div class="example">
          <div class="intent">
            Ask a question
          </div>
          <div class="description">
            Displays answer in a card.
          </div>
          <div class="utterance">
            Example
            <p>Who created Breaking Bad?</p>
            <p>Who won the World Series game last night?</p>
            <p>How deep is the Marianas Trench?</p>
          </div>
        </div>

        <div class="example">
          <div class="intent">
            Play music / video
          </div>
          <div class="description">
            Plays a song, video, or artist.
          </div>
          <div class="utterance">
            Example
            <p>Play Green Day on Spotify</p>
            <p>Play Paul McCartney</p>
            <p>Play Old Town Road</p>
            <p>Play that cat wearing socks video on YouTube</p>
            <div class="small">
              <strong>Supported sites:</strong> YouTube, Spotify, more coming
              soon...
            </div>
          </div>
        </div>

        <div class="example">
          <div class="intent">
            Audio / video controls
          </div>
          <div class="description">
            Control playback within the browser.
          </div>
          <div class="utterance">
            Example
            <p>Play (to control active tab)</p>
            <p>Mute (all tabs)</p>
            <p>Pause</p>
            <p>Next</p>
            <p>What's playing?</p>
          </div>
        </div>

        <div class="example">
          <div class="intent">
            Read to me
          </div>
          <div class="description">
            Reads an active article out loud.
          </div>
          <div class="utterance">
            Example
            <p>Read this page</p>
            <p>Read title</p>
          </div>
        </div>

        <div class="example">
          <div class="intent">
            Follow link
          </div>
          <div class="description">
            Opens a link in the active page
          </div>
          <div class="utterance">
            Example
            <p>Click on link for proper way to drink whisky</p>
            <p>Follow link to most unlikely solar farms</p>
          </div>
        </div>

        <div class="example">
          <div class="intent">
            Weather
          </div>
          <div class="description">
            Displays weather for the requested location
          </div>
          <div class="utterance">
            Example
            <p>Show me weather in Flagstaff, Arizona</p>
            <p>What's the temperature in San Antonio?</p>
          </div>
        </div>
        <div class="example">
          <div class="intent">
            Translate
          </div>
          <div class="description">
            Translate a webpage, phrase, or word.
          </div>
          <div class="utterance">
            Example
            <p>Translate this webpage (to English)</p>
            <p>How do you say 'what time is it' in Spanish?</p>
            <p>
              Translate selection to French (will translate highlighted text)
            </p>
          </div>
        </div>
        <div class="example">
          <div class="intent">
            Traffic and Maps
          </div>
          <div class="utterance">
            Example
            <p>Find the nearest sushi on maps</p>
            <p>How long will it take to get to Springfield?</p>
            <p>How do I get to the hardware store?</p>
          </div>
        </div>

        <div class="example">
          <div class="intent">
            Timer
          </div>
          <div class="description">
            Sets a timer using a webpage.
          </div>
          <div class="utterance">
            Example
            <p>Set a timer for 5 minutes.</p>
          </div>
        </div>

        <div class="example">
          <div class="intent">
            Find &amp; switch tabs
          </div>
          <div class="description">
            Manage, navigate between and find tabs.
          </div>
          <div class="utterance">
            Example
            <p>Find calendar tab</p>
            <p>Previous tab</p>
            <p>Go to first tab</p>
            <p>Go to right tab</p>
            <p>Collect all Google Docs tabs</p>
            <p>Undo last closed tab</p>
          </div>
        </div>

        <div class="example">
          <div class="intent">
            Browser controls
          </div>
          <div class="description">
            Use your voice for common Firefox actions.
          </div>
          <div class="utterance">
            Example
            <p>Go back</p>
            <p>Scroll down</p>
            <p>Scroll all the way down</p>
            <p>Find x on page</p>
            <p>Close tab (or window)</p>
            <p>Pin tab</p>
            <p>Duplicate tab</p>
            <p>Move tab to a new window</p>
            <p>Open new tab (or window)</p>
            <p>Open a new window and go to Wikipedia</p>
            <p>Open downloads</p>
            <p>Reload this page</p>
            <p>Bookmark this page</p>
            <p>Remove bookmark for this page</p>
            <p>Print</p>
            <p>Save as pdf</p>
            <p>Full screen</p>
            <p>Open my single sign on bookmark</p>
            <p>Count my open tabs</p>
            <p>Close Firefox</p>
          </div>
        </div>

        <div class="example">
          <div class="intent">
            Clipboard / copy and paste
          </div>
          <div class="description">
            Copy and paste from the clipboard
          </div>
          <div class="utterance">
            Example
            <p>Copy (copies whatever is selected)</p>
            <p>Copy link</p>
            <p>Copy title</p>
            <p>Copy Markdown link (copies <code>[title](url)</code>)</p>
            <p>
              Copy rich link (a link you can paste into docs.google.com etc.)
            </p>
            <p>Copy screenshot</p>
            <p>Copy full page screenshot</p>
            <p>Paste</p>
          </div>
        </div>

        <div class="example">
          <div class="intent">
            Ask about a webpage
          </div>
          <div class="description">
            Display or open information to the current page or website.
          </div>
          <div class="utterance">
            Example
            <p>
              What are people saying about this page? (Opens Reddit comments for
              a specific webpage or article)
            </p>
            <p>
              What did they page used to look like? (Shows page history in
              archive.org)
            </p>
          </div>
        </div>

        <div class="example">
          <div class="intent">
            Giving commands nicknames (experimental)
          </div>
          <div class="description">
            Create names or shortcuts for actions.
          </div>
          <div class="utterance">
            Example
            <p>Say "open new york times", then "Give that the name news"</p>
            <p>news (will open nytimes.com)</p>
            <p>Give the last 3 the name news</p>
            <p>Remove the nickname news</p>
          </div>
        </div>

        <%- include('partials/pageFooter') %>
      </div>
      <div id="clear"></div>
    </div>
  </body>
</html>
