<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Zilla+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/vendor/stm_web.min.js"></script>
  </head>
  <body>
    <div id="suggestionWrapper" class="centerFlex">
        <div class="textContent">
            <h1>Try</h1>
            <h3>Search hiking in Denver</h3>
            <h3>Go to New York Times</h3>
            <h3>Find the calendar tab</h3>
        </div>
    </div>
  </body>
</html>
<script src="/js/content.js"></script>
