@import url("../assets/css/inter.css");
@import url("../assets/css/gui.css");

html {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #fafafc;
}

.description-container {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  font-size: 22px;
  font-weight: 100;
}

.new-routine-button {
  padding: 0px 15px;
  height: 48px;
  font-size: 24px;
  border-radius: 0px;
  padding-bottom: 5px;
  font-weight: normal;
  bottom: 10px;
  position: relative;
}
.plus-sign {
  font-size: 28px;
  padding-right: 3px;
  position: relative;
  top: 2px;
}

.no-style-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.draft {
  z-index: 1;
  padding-top: 40px;
  top: 0;
  overflow: auto;
  left: 0px;
  position: relative;
  padding-bottom: 20px;
  transition: max-height 0.3s ease-out;
}

/* draft Content */
.draft-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  box-shadow: 3px 3px 3px #dfdfdf;
  border: 1px solid #f4f1f1;
  padding: 50px;
}

.save-button {
  padding: 5px 8px;
  font-size: 16px;
  height: 45px;
  float: right;
  bottom: 15px;
  position: relative;
  right: 10px;
  background-color: rgb(175, 175, 175);
  border-radius: 0px;
}

.save-button-allowed {
  padding: 5px 8px;
  font-size: 16px;
  height: 45px;
  float: right;
  bottom: 15px;
  position: relative;
  right: 10px;
  border-radius: 0px;
}

.save-button:hover {
  background-color: grey;
}

.cancel-button {
  padding: 5px 8px;
  font-size: 16px;
  height: 45px;
  float: right;
  bottom: 15px;
  position: relative;
  background-color: rgb(175, 175, 175);
  border-radius: 0px;
}
.cancel-button:hover {
  background-color: grey;
}

.error-message {
  color: rgb(145, 14, 14);
}

.tab-button {
  height: 50px;
  padding: 0 0;
  width: 200px;
  position: relative;
  top: 50px;
  margin-top: 5px;
  color: black;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.tab-button:hover {
  background-color: rgb(199, 199, 199);
  text-decoration: none;
  color: black;
}

.tab-icon {
  padding: 10px;
  width: 25px;
  height: 25px;
  fill: currentColor;
  -moz-context-properties: fill, fill-opacity;
}

.selected-tab {
  color: #0a84ff;
  transition: background-color 150ms;
}

.selected-tab:hover {
  color: #0a84ff;
}

.card {
  border: 1px solid #f4f1f1;
  border-radius: 4px;
  box-shadow: 3px 3px 3px #dfdfdf;
  margin: 0 0 8px;
  margin-bottom: 8px;
  margin-bottom: 8px;
  padding: 5px;
  transition: box-shadow 150ms;
  padding-left: 50px;
  padding-right: 50px;
}

.card-name {
  margin-top: 2px;
  font-style: italic;
}

.card-text {
  color: rgb(102, 101, 101);
  font-weight: 100;
  margin-top: -15px;
}

.card-menu {
  float: right;
  top: 10px;
  position: relative;
  width: 25px;
  height: 25px;
}

.menu-box {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-shadow: 3px 3px 3px #dfdfdf;
  margin: 0 0 8px;
  display: inline-block;
  padding: 10px;
  background-color: #fafafc;
  z-index: 1;
  position: relative;
  width: 140px;
  right: 130px;
}

.menu-button {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 140px;
}
.menu-button:hover {
  background-color: #e9e9e9;
  width: 140px;
}

.menu-icon {
  padding: 6px;
}

.nickname-container {
  outline: 0;
}

.tab-list {
  list-style-type: none;
}

.delete-utterance {
  width: 25px;
  height: 25px;
  top: 10px;
  position: relative;
}

#utterance-list {
  padding: 30px;
}

.utterances-container {
  padding: 20px 0px;
  display: flex;
}

.textarea-container {
  resize: vertical;
  height: max-content;
  max-height: 140px;
  width: 50%;
  position: relative;
  left: 80px;
}

.label-nickname {
  padding: 10px 20px;
}

.settings-page {
  display: flex;
  flex-direction: row;
}

.settings-sidebar {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}

.settings-sidebar > * {
  text-align: center;
}

.settings-sidebar .version-info {
  margin-top: 40px;
}

.settings-sidebar p {
  margin: 4px 0;
}

.settings-content {
  margin-left: 36px;
}

.settings-content fieldset {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 40px 36px 60px;
}

.settings-content fieldset legend {
  font-size: 1.875rem;
  margin-top: 30px;
  font-weight: 100;
  width: 100%;
}

.settings-content fieldset ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#development-access ul li,
#about ul li {
  line-height: 2rem;
}

#data-collection li:not(:last-child) {
  margin-bottom: 35px;
}

#data-collection li p {
  margin: 0 0 0 40px;
  line-height: 1.875rem;
}

#data-collection .styled-toggle label {
  font-weight: 600;
}

a {
  color: #0a84ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.settings-content #keyboard-shortcut #keyboard-shortcut-field {
  margin: 0 20px 10px 0;
}

.settings-content #keyboard-shortcut #shortcut-syntax {
  margin-top: 30px;
}

.settings-content #keyboard-shortcut blockquote {
  margin: 20px 0 0;
}

.settings-content #keyboard-shortcut blockquote p {
  margin: 10px 0 0;
}

.settings-content #keyboard-shortcut ul {
  list-style-type: disc;
  padding: 10px 30px 0;
}

.settings-content #keyboard-shortcut code {
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 2px;
  box-decoration-break: clone;
  padding: 0 2px;
}

.settings-content #keyboard-shortcut .error {
  color: #d70022;
  margin-bottom: 20px;
}

/* History Tab */
.history-table {
  min-width: 700px;
  border: 2px solid #c7c7c7;
  border-collapse: collapse;
}

.history-table th {
  background-color: #ededf0;
  color: #4a4a4f;
  font-weight: normal;
  border-right: 1px solid #c7c7c7;
}

.history-table th,
.history-table td {
  border: 1px solid #eee;
  border-collapse: collapse;
  padding: 12px 35px;
}

.history-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.history-table thead tr {
  height: 30px;
}

.history-table tbody tr {
  height: 38px;
}

.history-table tr td:nth-child(2) {
  width: 190px;
  color: #4a4a4f;
}

.history-pagination {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0 15px 0;
}

.rows-indicator {
  align-self: center;
  margin-right: 25px;
  color: #4a4a4f;
}

.delete-button {
  padding: 10px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  background-color: #c7c7c7;
  float: right;
}

.delete-button:hover {
  background-color: #afafaf;
}

.active,
.inactive {
  cursor: pointer;
  border: none;
  margin: none;
  padding: 10px 20px;
  background-color: transparent;
}

.active {
  background-color: #c7c7c7;
}

.inactive {
  background-color: #f2f2f2;
}

.active:hover {
  background-color: #afafaf;
}
.next {
  margin-left: 15px;
}

.next-page {
  transform: scale(-1, 1);
}

/* Override default select styling */
.select-wrapper {
  position: relative;
}
.select-wrapper select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 70px;
}
.select-wrapper::after {
  content: "▼";
  font-size: 0.75rem;
  top: 2px;
  right: 15px;
  position: absolute;
}

#mic-selector {
  margin-top: 20px;
}

audio {
  /* This should display the play, mute, and time, but not the volume or time slider */
  width: 9em;
}

#voice-output-header {
  font-size: 1.25em;
  font-weight: 300;
  margin-top: 2em;
  margin-bottom: 1em;
}

#voice-selector {
  margin-top: 1em;
}

#voice-selector > span {
  margin-right: 0.75em;
}

#voice-output-unavailable {
  font-style: italic;
}

label.disabled-field {
  opacity: 0.5;
}
