@import url("../assets/css/inter.css");
@import url("../assets/css/gui.css");

html {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #fafafc;
}

.settings-page {
  display: flex;
  flex-direction: row;
}

.settings-sidebar {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}

.settings-sidebar > * {
  text-align: center;
}

.settings-sidebar .version-info {
  margin-top: 40px;
}

.settings-sidebar p {
  margin: 4px 0;
}

.settings-content {
  margin-left: 36px;
}

.settings-content fieldset {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 40px 36px 60px;
}

.settings-content fieldset legend {
  font-size: 1.875rem;
  margin-top: 30px;
  font-weight: 100;
}

.settings-content fieldset ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#development-access ul li,
#about ul li {
  line-height: 2rem;
}

#data-collection li:not(:last-child) {
  margin-bottom: 35px;
}

#data-collection li p {
  margin: 15px 0 0 40px;
  line-height: 1.875rem;
}

#data-collection .styled-toggle label {
  font-weight: 600;
}

a {
  color: #0a84ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.settings-content #keyboard-shortcut #keyboard-shortcut-field {
  margin: 0 20px 10px 0;
}

.settings-content #keyboard-shortcut #shortcut-syntax {
  margin-top: 30px;
}

.settings-content #keyboard-shortcut blockquote {
  margin: 20px 0 0;
}

.settings-content #keyboard-shortcut blockquote p {
  margin: 10px 0 0;
}

.settings-content #keyboard-shortcut ul {
  list-style-type: disc;
  padding: 10px 30px 0;
}

.settings-content #keyboard-shortcut code {
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 2px;
  box-decoration-break: clone;
  padding: 0 2px;
}

.settings-content #keyboard-shortcut .error {
  color: #d70022;
  margin-bottom: 20px;
}
