#acquiring,
#recording,
#paused,
#error,
#fatal-error,
#zero-volume-error {
  display: none;
}

.acquiring #acquiring {
  display: block;
}

.recording #recording {
  display: block;
}

.paused #paused {
  display: block;
}

.error #error {
  display: block;
}

.fatal-error #fatal-error {
  display: block;
}

.zero-volume-error #zero-volume-error {
  display: block;
}

img.example {
  margin: 1em 2em;
}
