#acquiring,
#recording,
#paused,
#error {
  display: none;
}

.acquiring #acquiring {
  display: block;
}

.recording #recording {
  display: block;
}

.paused #paused {
  display: block;
}

.error #error {
  display: block;
}
